@media (max-width: 700px) {
    .header__btn {
        display: block;
        float: none;
        padding: 5px 20px 4px 20px;
    }
    .header__contacts {
        text-align: center;
    }
    .header__btn:before {
        display: none;
    }
    .header__btn-menu {
        display: block;
        font-size: 25px;
    }
    .menu ul {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        margin-top: 20px;
        z-index: 50;
    }
    .menu li {
        display: block;
        text-align: center;
    }
    .menu a {
        display: block;
        background-color: #ffc222;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #ffffff;
    }
    .menu li+li {
        padding-left: 0px;
    }
}

@media (max-width: 450px) {
    .slider__title {
        font-size: 24px;
    }
    .slider__text {
        font-size: 16px;
}

@media (max-width: 400px) {
    .header__btn:before {
        display: block;
    }
    .header__email {
        padding-right: 30px;
    }
}

@media (min-width: 700px) {
    .menu ul {
        display: block !important;
    }
}